# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
_anaconda_depends=2023.07=py311_1
einops
ffmpeg=4.2.3
matplotlib
moviepy=1.0.3
numpy=1.26.4
opencv-python=4.8.0.76
pillow=10.4.0
scikit-learn=1.3.0
scipy=1.11.1
torch=2.5.1
torchaudio=2.5.1
torchvision=0.20.1
tqdm=4.65.0
ultralytics=8.3.79